:root {
    --color-gray-bg: rgba(233, 231, 231, 0.3);
    --color-text: rgb(48, 47, 47);
    --color-header: rgb(14, 13, 13);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
    color: #424347;
    font-size: 16px;
    background-color: #ffffff;
    display: grid;
    text-align: justify;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 80%;
    grid-template-areas:
        "nav   nav"
        "main  main";
}

code p {
    background: rgba(218, 216, 216, 0.35);
    padding: 15px;
    border-radius: 4px;
    margin-left: 30px;
    white-space: pre-line;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}


/* NAVIGATION & HEADING */

#navbar {
    grid-area: nav;
    
}

#main-doc {
    grid-area: main;
}

.navbar-header {
    grid-area: header;
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    padding: 0.4em 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

#nav-links-container {
    max-height: 200px;
    overflow-y: scroll;
    list-style: none;
    margin: 0px;
    padding: 0px;    
    border: 3px inset #4d4c4c;
    
}

#nav-links-container li {
    padding: 0.5em 1.5em;
    border: 1px dotted #818181;
}

#nav-links-container a {
    text-decoration: none;
    color: #333333;
    transition-duration: 80ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    
}

#nav-links-container a:hover {
    font-size: 1.1em;
    color: black;
    font-weight: 700;
}

/* MAIN CONTAINER */

#main-doc {
    padding: 0.5em 1.5em;
}

.section-heading {
    font-size: 28px;
    font-weight: 500;
    color: black;
    margin-top: 20px;
}

/* ARTICLE SECTION */

article {
    margin: auto;
    
}

article ul {
    display: grid;
    grid-gap: 15px;
}

/* MEDIA QUERY */

@media only screen and (min-width: 800px){
    body {
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "nav  main"
        "nav  main";
    }

    #navbar {
        position: relative;
        top: 0;
        left: 0;
        width: 350px;
        min-height: 100%;
        border-right: 3px solid #afaaaa;
    }

    .navbar-header {
        font-size: 24px;
        font-weight: 800;
        margin: auto;
        padding: 20px 10px;
        text-transform: uppercase;
        border-bottom: 1px solid #afaaaa;
        position: fixed;
        width: 350px;
        
    }

    #nav-links-container {
        max-height: 100%;
        overflow: auto;
        border: none;
        position: fixed;
        top: 75px;
        width: 350px;
        
    }

    #nav-links-container li {
        padding: 10px 25px;
        border: 1px solid #afaaaa;
        
    }
    
    article {
        padding-left: 20px;
    }
    

}/* MEDIA QUERY END*/